/* Footer.module.css */

.footerList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Adjust alignment based on your design */
  flex-wrap: wrap;
  margin-top: 60px;
  border-top: 1px solid lightgray; /* Allow items to wrap to the next line if the space is not enough */
  border-width: 80%;
}

.footerLogo {
  height: 20px;
  width: auto;
}

.footerLinks {
  
  margin-top: 1rem; /* Add some space between logo and links */
  align-items: flex-start; /* Align items vertically in the footerLinks */
}

.footerLinks ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footerLinks li {
  margin-right: 1rem; /* Add some space between links */
}

.footerLinks a {
  display: flex;
  /* margin: auto; */
  font-size: 11px;
  text-decoration: none;
  color: black;
}

.footerFlag {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Move content to the right */
  color: grey;
  font-weight: 600;
  font-size: 10px;
  margin-right: 60px;
  margin-top: 50px;
}

/* Additional style for the copyright section */
.footerCopyright {

  align-items: flex-end;
  color: grey;
  font-weight: 600;
  font-size: 10px;
  margin-right: 60px;
  margin-top: 30px;
}


